<div class="mt-5 pt-5 row justify-content-center">
    <div class="col-6">
      <form [formGroup]="myForm" class="row shadow-lg p-3 mb-5">
        <h2>Manage your information</h2>
          <mat-label class="col-6 example-full-width">{{name}}</mat-label>
          <mat-label class="col-6 example-full-width">{{surname}}</mat-label>
          <mat-label class="col-6 example-full-width">{{email}}</mat-label>
        <mat-form-field class="col-6 example-full-width">
          <mat-label>Username</mat-label>
          <input type="text" matInput [(ngModel)]="username" name="username" formControlName="username" placeholder="Ex. Pippo12">
        </mat-form-field>
        <div
          *ngIf="myForm.controls['username'].invalid && (myForm.controls['username'].dirty || myForm.controls['username'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['username'].errors.required">
            Username is required.
          </div>
        </div> 
        <mat-form-field class="col-6 example-full-width">
          <mat-label>City</mat-label>
          <input type="text" matInput [(ngModel)]="city" name="city" formControlName="city" placeholder="Inserisci città">
        </mat-form-field>
        <div *ngIf="myForm.controls['city'].invalid && (myForm.controls['city'].dirty || myForm.controls['city'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['city'].errors.required">
            City is required.
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Choose a country</mat-label>
          <mat-select [(ngModel)]="country" name="country" formControlName="country">
            <mat-option *ngFor="let country of countryCodes | keyvalue" [value]="country.value">
              {{country.key}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div
          *ngIf="myForm.controls['country'].invalid && (myForm.controls['country'].dirty || myForm.controls['country'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['country'].errors.required">
            Countryis required.
          </div>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Choose a unit</mat-label>
          <mat-select [(ngModel)]="unit" name="unit" formControlName="unit">
            <mat-option *ngFor="let unit of units | keyvalue" [value]="unit.key">
              {{unit.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="myForm.controls['unit'].invalid && (myForm.controls['unit'].dirty || myForm.controls['unit'].touched)"
          class="alert alert-danger">
          <div *ngIf="myForm.controls['unit'].errors.required">
            Unit is required.
          </div>
        </div>
        <input  (click)="updateInformation()"class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up">
      </form>
    </div>
  </div>