<div class="wrapper">
      <form class="form-signin">
       <h2 class="form-signin-heading">Please login</h2>
       <input type="email" class="form-control" name="email" required="" [(ngModel)]="email" />
       <input type="password" class="form-control" name="password" required="" [(ngModel)]="password" />      
       <label class="checkbox">
       <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
       </label>
       <button (click)='formLogin()' class="btn btn-lg btn-primary btn-block" type="submit">Login</button> 
      </form>  
 </div>